/* Color Options:
White:
Eff1f3
Fdf8e1
Ffffea

Black:
474448

Red:
Ffeedd


Orange:
F29559

Yellow:
F2d492
F5dd90
f9dc5c

Green:
9ec1a3
D1f0b1
86baa1

Blue:

Violet:


Color Palettes:
https://coolors.co/ff4800-ff5400-ff6000-ff6d00-ff7900-ff8500-ff9100-ff9e00-ffaa00-ffb600 
https://coolors.co/3fc1c0-20bac5-00b2ca-04a6c2-0899ba-0f80aa-16679a-1a5b92-1c558e-1d4e89 
https://coolors.co/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 
https://coolors.co/8cb369-f4e285-f4a259-5b8e7d-bc4b51

Colors Mentioned:
Orange, Yellow to mimic the look of lights 
White is always good but do we prefer light mode or dark mode?
Sarah likes green :)
Blue is overused in websites - maybe avoid it?

 */

.container {
  width: 80%;
  margin: auto;
}
