node_modules
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/dance-lighting-app/node_modules/.bin/acorn
client/dance-lighting-app/node_modules/.bin/acorn.cmd
client/dance-lighting-app/node_modules/.bin/ansi-html
client/dance-lighting-app/node_modules/.bin/ansi-html.cmd
client/dance-lighting-app/node_modules/.bin/atob
client/dance-lighting-app/node_modules/.bin/atob.cmd
client/dance-lighting-app/node_modules/.bin/autoprefixer
client/dance-lighting-app/node_modules/.bin/autoprefixer.cmd
client/dance-lighting-app/node_modules/.bin/babylon
client/dance-lighting-app/node_modules/.bin/babylon.cmd
client/dance-lighting-app/node_modules/.bin/browserslist
client/dance-lighting-app/node_modules/.bin/browserslist.cmd
client/dance-lighting-app/node_modules/.bin/css-blank-pseudo
client/dance-lighting-app/node_modules/.bin/css-blank-pseudo.cmd
client/dance-lighting-app/node_modules/.bin/css-has-pseudo
client/dance-lighting-app/node_modules/.bin/css-has-pseudo.cmd
client/dance-lighting-app/node_modules/.bin/css-prefers-color-scheme
client/dance-lighting-app/node_modules/.bin/css-prefers-color-scheme.cmd
client/dance-lighting-app/node_modules/.bin/cssesc
client/dance-lighting-app/node_modules/.bin/cssesc.cmd
client/dance-lighting-app/node_modules/.bin/detect
client/dance-lighting-app/node_modules/.bin/detect-port
client/dance-lighting-app/node_modules/.bin/detect-port.cmd
client/dance-lighting-app/node_modules/.bin/detect.cmd
client/dance-lighting-app/node_modules/.bin/errno
client/dance-lighting-app/node_modules/.bin/errno.cmd
client/dance-lighting-app/node_modules/.bin/escodegen
client/dance-lighting-app/node_modules/.bin/escodegen.cmd
client/dance-lighting-app/node_modules/.bin/esgenerate
client/dance-lighting-app/node_modules/.bin/esgenerate.cmd
client/dance-lighting-app/node_modules/.bin/eslint
client/dance-lighting-app/node_modules/.bin/eslint.cmd
client/dance-lighting-app/node_modules/.bin/esparse
client/dance-lighting-app/node_modules/.bin/esparse.cmd
client/dance-lighting-app/node_modules/.bin/esvalidate
client/dance-lighting-app/node_modules/.bin/esvalidate.cmd
client/dance-lighting-app/node_modules/.bin/he
client/dance-lighting-app/node_modules/.bin/he.cmd
client/dance-lighting-app/node_modules/.bin/html-minifier-terser
client/dance-lighting-app/node_modules/.bin/html-minifier-terser.cmd
client/dance-lighting-app/node_modules/.bin/import-local-fixture
client/dance-lighting-app/node_modules/.bin/import-local-fixture.cmd
client/dance-lighting-app/node_modules/.bin/is-ci
client/dance-lighting-app/node_modules/.bin/is-ci.cmd
client/dance-lighting-app/node_modules/.bin/is-docker
client/dance-lighting-app/node_modules/.bin/is-docker.cmd
client/dance-lighting-app/node_modules/.bin/jest
client/dance-lighting-app/node_modules/.bin/jest-runtime
client/dance-lighting-app/node_modules/.bin/jest-runtime.cmd
client/dance-lighting-app/node_modules/.bin/jest.cmd
client/dance-lighting-app/node_modules/.bin/js-yaml
client/dance-lighting-app/node_modules/.bin/js-yaml.cmd
client/dance-lighting-app/node_modules/.bin/jsesc
client/dance-lighting-app/node_modules/.bin/jsesc.cmd
client/dance-lighting-app/node_modules/.bin/json5
client/dance-lighting-app/node_modules/.bin/json5.cmd
client/dance-lighting-app/node_modules/.bin/loose-envify
client/dance-lighting-app/node_modules/.bin/loose-envify.cmd
client/dance-lighting-app/node_modules/.bin/lz-string
client/dance-lighting-app/node_modules/.bin/lz-string.cmd
client/dance-lighting-app/node_modules/.bin/miller-rabin
client/dance-lighting-app/node_modules/.bin/miller-rabin.cmd
client/dance-lighting-app/node_modules/.bin/mime
client/dance-lighting-app/node_modules/.bin/mime.cmd
client/dance-lighting-app/node_modules/.bin/mkdirp
client/dance-lighting-app/node_modules/.bin/mkdirp.cmd
client/dance-lighting-app/node_modules/.bin/multicast-dns
client/dance-lighting-app/node_modules/.bin/multicast-dns.cmd
client/dance-lighting-app/node_modules/.bin/nanoid
client/dance-lighting-app/node_modules/.bin/nanoid.cmd
client/dance-lighting-app/node_modules/.bin/node-which
client/dance-lighting-app/node_modules/.bin/node-which.cmd
client/dance-lighting-app/node_modules/.bin/parser
client/dance-lighting-app/node_modules/.bin/parser.cmd
client/dance-lighting-app/node_modules/.bin/react-scripts
client/dance-lighting-app/node_modules/.bin/react-scripts.cmd
client/dance-lighting-app/node_modules/.bin/regjsparser
client/dance-lighting-app/node_modules/.bin/regjsparser.cmd
client/dance-lighting-app/node_modules/.bin/rimraf
client/dance-lighting-app/node_modules/.bin/rimraf.cmd
client/dance-lighting-app/node_modules/.bin/rollup
client/dance-lighting-app/node_modules/.bin/rollup.cmd
client/dance-lighting-app/node_modules/.bin/sane
client/dance-lighting-app/node_modules/.bin/sane.cmd
client/dance-lighting-app/node_modules/.bin/semver
client/dance-lighting-app/node_modules/.bin/semver.cmd
client/dance-lighting-app/node_modules/.bin/sha.js
client/dance-lighting-app/node_modules/.bin/sha.js.cmd
client/dance-lighting-app/node_modules/.bin/sshpk-conv
client/dance-lighting-app/node_modules/.bin/sshpk-conv.cmd
client/dance-lighting-app/node_modules/.bin/sshpk-sign
client/dance-lighting-app/node_modules/.bin/sshpk-sign.cmd
client/dance-lighting-app/node_modules/.bin/sshpk-verify
client/dance-lighting-app/node_modules/.bin/sshpk-verify.cmd
client/dance-lighting-app/node_modules/.bin/svgo
client/dance-lighting-app/node_modules/.bin/svgo.cmd
client/dance-lighting-app/node_modules/.bin/terser
client/dance-lighting-app/node_modules/.bin/terser.cmd
client/dance-lighting-app/node_modules/.bin/uuid
client/dance-lighting-app/node_modules/.bin/uuid.cmd
client/dance-lighting-app/node_modules/.bin/watch
client/dance-lighting-app/node_modules/.bin/watch.cmd
client/dance-lighting-app/node_modules/.bin/webpack
client/dance-lighting-app/node_modules/.bin/webpack-dev-server
client/dance-lighting-app/node_modules/.bin/webpack-dev-server.cmd
client/dance-lighting-app/node_modules/.bin/webpack.cmd
